body {
    background: #FAFAFA;
}

.header {
    background: #fff;
    padding-top: 20px;
    border-bottom: #ccc solid 1px;
    padding-bottom: 10px;
}

.mg1000 {
    width: 1000px;
    margin: 0px auto;

}

.hm-dv1 {
    float: left;
}

.hm-dv1>.logo {
    float: left;
    width: 184px;
    height: 70px;
    background: url("image/img03.png") center no-repeat;

}

.xz {
    float: left;
}

.hm-dv2 {
    float: right;

}

.hd2-ul {}

.hd2-ul>li {
    float: left;
    padding: 0px 10px;
}

.hmd-tip {
    color: #ccc;
}

.link-login {
    color: #1170CF;
}

.hd-sp2 {
    color: #6B6B6B;
}

.help-dv>span {

    float: left;
}

.hd-sp1 {
    width: 18px;
    height: 18px;
    background: url("image/img02.png") no-repeat -344px 0px;
}

.hd-sp3 {
    width: 18px;
    height: 18px;
    background: url("image/img02.png") no-repeat -344px -28px;
}

.main>.mg1000>div {
    float: left;

}

.m-dvr {
    width: 500px;

    margin-left: 30px;
}

.m-dvl {
    padding-top: 60px;
}

.mdvr-dv1 {
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-bottom: 20px;
}

.mdvrd1-link1 {
    position: absolute;
    right: 0px;
    top: -2px;
    color: #1170CF;
    font-size: 15px;
}

.mdvr-dv2 {
    height: 420px;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.mdv2-arrow {
    position: absolute;
    top: -12px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.mdv2-arrow span {
    display: inline-block;

    width: 18px;
    height: 11px;
    background: url("image/img02.png") no-repeat 0px 0px;
}

.mdvr-dv1 {
    text-align: center;
}

.mdvrd1-dv1 {
    display: inline-block;

}

.mdvrd1-dv1>span {
    float: left;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.mddv1-sp1 {
    width: 30px;
    height: 28px;
    background: url("image/img02.png") no-repeat -330px -47px;

}

.mddv2-fm {
    width: 350px;
    margin: 0px auto;
    padding-top: 45px;
}

.fm-cell {
    width: 100%;
    height: 55px;
    border: 1px solid #ccc;
    position: relative;
    margin-top: -1px;
}

.fm-cell .fm-ipt {
    width: 300px;
    height: 100%;
    margin-left: 46px;
    border: none;

    display: block;
    /* text-indent: 48px; */
}

.fm-cell>i {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;

    z-index: 10;
    top: 12px;
    left: 10px;
}

.fm-userlogo {
    background: url("image/img02.png") no-repeat -47px 3px;
}

.fm-pwdlogo {
    background: url("image/img02.png") no-repeat -147px 2px;
}

.fm-cell2 {

    height: 40px;
    line-height: 40px;
}

.fc-dv1 {
    float: left;
    cursor: pointer;

}

.fc-dv1:hover .md2-cbo {
    background: url("image/img02.png") no-repeat -346px -300px;
}

.fc-dv1:hover .md2-sp2 {
    color: red;
}

.fc-dv1>span {
    float: left;
}

.md2-cbo {
    width: 15px;
    height: 15px;
    background: url("image/img02.png") no-repeat -346px -270px;
    margin-top: 12px;
    margin-right: 5px;
}

.fc-dv2 {
    float: right;
}

.login-btn {
    width: 100%;
    height: 48px;
    background: url("image/img02.png") no-repeat 0px -89px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.main {
    padding-top: 30px;
}
.footer{
    margin-top: 20px;
    color: #999999;
    text-align: center;
}
.mdvr-dv3>.mddv3-a1 {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(image/img02.png) no-repeat 0px -150px;
}

.mdvr-dv3>.mddv3-a2{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(image/img02.png) no-repeat -50px -150px;
}

.mdvr-dv3>.mddv3-a3 {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(image/img02.png) no-repeat -100px -150px;
}

.mdvr-dv3>.mddv3-a4{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(image/img02.png) no-repeat -250px -150px;
}

.mda5-dv1 {
    color: rgb(156, 156, 156);
}

.mda5-dv1>.mdadv1-dv1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -5px 0px;
    background: url(image/img02.png) no-repeat -342px -25px;
}

.mda5-dv1>.mdadv1-dv2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(image/img02.png) no-repeat 0px 0px;
    position: relative;
    top: -407px;
    right: -27px;
}
.mdvr-dv3>.mddv3-a5{
    text-decoration: none;
}
.mdvr-dv3>h1{
    font-size: 15px;
}