.box {
    width: 100%;
}

.box1 {
    width: 1000px;
    margin: 0px auto;
    background: #fff
}

.box2 {
    width: 100%;
    height: 38px;
    background: url(image/body_bg.jpg)
}

.b2 {
    display: block;
    height: 38px;
    width: 1100px;
    margin: 0px auto;
}

.b2-1 {
    float: left;
    height: 38px;
    margin-left: 50px;
}

.b2-1 li {
    float: left;
    padding-top: 5px;

}

.b2-1 li>a {
    display: block;
    padding: 0px 15px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #fff;
    top: 10px;
    text-decoration: none;
}

.b2-1 li>a:hover {
    color: orange;
    background: #fff
}

.b2 img {
    position: relative;
    top: 10px;
    right: -50px;
}

.b2-3 {
    float: right;
    display: block;
    height: 38px;
}

.b2-3 li {
    float: left;
    padding-top: 10px;
    padding-left: 10px
}

.b2-3 li>a {
    padding: 0px 15px;
    font-size: 13x;
    color: #fff;
    text-decoration: none;
}